version: "3.9"
services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pc_recommender
    ports:
      - "5432:5432"
    volumes:
      - pc_recommender_db:/var/lib/postgresql/data

volumes:
  pc_recommender_db:
